# @file update-release-draft.yml
#
# Creates and continiously updates a release draft based on the PRs in the repository.
#
# This workflow takes advantage of the labels used in the project to automatically categorize the types of
# changes in a given release. In addition, the semantic version of the code is constantly maintianed using
# typical semantic versioning rules.
#
# NOTE: This file is automatically synchronized from Patina DevOps. Update the original file there
#       instead of the file in this repo.
#
# - Patina DevOps Repo: https://github.com/OpenDevicePartnership/patina-devops
# - File Sync Settings: https://github.com/OpenDevicePartnership/patina-devops/blob/main/.sync/Files.yml
##
# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0
##
name: Update Release Draft

on:
  push:
    branches:
      - main

jobs:
  draft:

    permissions:
      contents: write
      pull-requests: write

    uses: OpenDevicePartnership/patina-devops/.github/workflows/UpdateReleaseDraft.yml@v0.3.6
    secrets: inherit
